.card-heading{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.mat-mdc-card-header {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-style: bold;
}

h4{
  text-align: center;
}

.profileImg{
  height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 6px;
}
