<div class="container">
  <div class="row">
    <div class="container mt-5 ml-3 mr-3">
      <div class="roleForm-container m-auto">
        <app-add-post (onPostListChange)="updatePostList($event)"></app-add-post>
        <mat-card class="mb-5" *ngFor="let post of posts">
          <mat-card-header>
            <mat-card-title class="card-heading">
              <img *ngIf="post.usersDTO.firstName == 'Sanket'" src="../../../assets/Sanket.png" class="profileImg"
                alt="sanket_panda">
              <img *ngIf="post.usersDTO.firstName != 'Sanket'" src="../../../assets/default_prfile_pic.png"
                class="profileImg" alt="default_profile_pic">
              <div class="profile-details">
                <a style="color: blueviolet; cursor: pointer;" (click)="showUserProfile(post.usersDTO.userId)">{{post.usersDTO.firstName}} {{post.usersDTO.lastName}}</a>
                <p>{{post.modDate | dateAgo}}</p>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="post">
              <h4>{{post.postDescription}}
              </h4>
            </div>
            <hr *ngIf="post.commentDTO.length>0">
            <div class="footer" *ngIf="post.commentDTO.length>0">
              <app-comment [comments]="post.commentDTO" (onComentListUpdate)="updatePostList($event)"></app-comment>
            </div>
            <hr>
            <div class="add-comment">
              <app-add-comment [postId]="post.postId" (onComentAdd)="updatePostList($event)"></app-add-comment>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
