.menu{
  display: flex;
}

a, button{
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

button:focus{ outline: none; }

.loader-container{
  width: 100%;
  z-index: 99;
}

.toolbar-heading{
  height: 4rem;
}

.navbar-heading{
  background: #009688;
  color: white;
}
.navbar-brand{
  color: white;
}

.dropdown-menu-right{
  align-items: right;
}

a{
  text-decoration: none;
}
